.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 70vh;
  background: linear-gradient(rgba(110, 78, 136, 0.9), rgba(98, 78, 136, 0.8)),
    url(./Background.png);
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.katibeh-regular {
  font-family: "Katibeh", serif;
  font-weight: 400;
  font-style: normal;
}

.bricolage-grotesque {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.dynapuff {
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 50px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.container {
  display: flex;
  flex-direction: column;
  height: 92vh;
  align-items: center;
  text-align: center;
}

h1 {
  position: absolute;
  left: 40px;
  top: 20px;
  font-size: 30px;
  font-family: "katibeh";
  color: #ffe893;
}

h2 {
  font-size: 42px;
  font-family: "Bricolage Grotesque";
  line-height: 48px;
  color: #ffe893;
}

button {
  border: none;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
  width: 300px;
  font-weight: 700;
  text-align: center;
}

button.account {
  background-color: white;
  color: #624e88;
}

button.signin {
  background-color: #624e88;
  color: white;
}

h3 {
  color: white;
  font-size: 15px;
  font-family: "Bricolage Grotesque";
}

footer {
  color: white;
  font-size: 15px;
  font-family: "Bricolage Grotesque";
  margin-top: 40px;
}

span {
  text-decoration: underline;
}

.container > img {
  margin-top: 110px;
  margin-bottom: 35px;
  width: 180px;
}

.nav {
  display: flex;
  background-color: #8967b3;
  justify-content: space-evenly;
  width: 105%;
  left: -60px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 20px;
  margin-right: 20px;
  position: fixed;
  bottom: 0px;
  z-index: 1;
}

.nav img {
  height: 40px;
}

.lamp {
  width: 100px;
  position: absolute;
  z-index: 1;
  bottom: 2px;
  right: 20px;
  z-index: 2;
}

.click {
  color: #ffe893;
  font-family: "dynapuff";
  position: absolute;
  z-index: 1;
  bottom: 140px;
  right: 90px;
}

.user p {
  font-family: "Bricolage Grotesque";
  color: white;
  display: inline-block;
  line-height: 0px;
  margin: 0px;
  margin-left: 15px;
  font-size: 16px;
}

.user {
  position: relative;
  background-color: #57564f;
  height: 370px;
  margin: 10px;
  width: 270px;
  border-radius: 12px;
}

.flex-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 80px;
}

.profile {
  height: 300px;
  width: 270px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.heart {
  position: absolute;
  bottom: 22px;
  right: 40px;
  height: 15px;
}

.heart p {
  position: absolute;
  bottom: 4px;
  left: 12px;
}

.flex-container-2 {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px 20px 10px;
}

.flex-container-2 img {
  height: 40px;
  z-index: 2;
}
